In [4]:
import pandas as pd #pd used for data manipulation and analysis
import numpy as np #np used for numerical operations
import matplotlib.pyplot as plt #plt used for creating visualizations such as pie charts, graphs etc
import seaborn as sb #sb used for visualizations as well

In [7]:
df=pd.read_csv("2018.csv")

In [8]:
df.head()

,Timestamp,Age,Gender,City,Position,Years of experience,Your level,Current Salary,Salary one year ago,Salary two years ago,Are you getting any Stock Options?,Main language at work,Company size,Company type
0,14/12/2018 12:41:33,43.0,M,München,QA Ingenieur,11.0,Senior,77000.0,76200.0,68000.0,No,Deutsch,100-1000,Product
1,14/12/2018 12:42:09,33.0,F,München,Senior PHP Magento developer,8.0,Senior,65000.0,55000.0,55000.0,No,Deutsch,50-100,Product
2,14/12/2018 12:47:36,32.0,M,München,Software Engineer,10.0,Senior,88000.0,73000.0,54000.0,No,Deutsch,1000+,Product
3,14/12/2018 12:50:15,25.0,M,München,Senior Frontend Developer,6.0,Senior,78000.0,55000.0,45000.0,Yes,English,1000+,Product
4,14/12/2018 12:50:31,39.0,M,München,UX Designer,10.0,Senior,69000.0,60000.0,52000.0,No,English,100-1000,Ecom retailer

In [26]:
df.shape

(765, 14)

In [27]:
df.tail()#displyay the last five data

,Timestamp,Age,Gender,City,Position,Years of experience,Your level,Current Salary,Salary one year ago,Salary two years ago,Are you getting any Stock Options?,Main language at work,Company size,Company type
760,03/06/2020 20:12:51,40.0,M,Köln,Java Developer junior,1.0,Junior,44000.0,40000.0,40000.0,Yes,Deutsch,10-50,Product
761,28/07/2020 04:03:13,NaN,M,Köln,E.g. C# Developer,1.0,Junior,45000.0,40000.0,40000.0,Yes,Deutsch,10-50,Product
762,28/07/2020 04:03:20,NaN,M,Köln,E.g. C# Developer,1.0,Junior,45000.0,40000.0,40000.0,Yes,Deutsch,10-50,Product
763,26/08/2020 09:06:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,21/09/2020 01:47:10,31.0,F,München,Pm,10.0,Senior,110000.0,NaN,NaN,No,English,1000+,Product

In [32]:
df.isnull().sum() #checks null values in the data

Timestamp                               0
Age                                    93
Gender                                 14
City                                   29
Position                               28
Years of experience                    33
Your level                             22
Current Salary                         15
Salary one year ago                   169
Salary two years ago                  302
Are you getting any Stock Options?     23
Main language at work                  15
Company size                           15
Company type                           35
dtype: int64

In [36]:
df1=df.dropna()#give dataset a new name after dropping values

In [37]:
df1.isnull().sum()

Timestamp                             0
Age                                   0
Gender                                0
City                                  0
Position                              0
Years of experience                   0
Your level                            0
Current Salary                        0
Salary one year ago                   0
Salary two years ago                  0
Are you getting any Stock Options?    0
Main language at work                 0
Company size                          0
Company type                          0
dtype: int64

In [39]:
df1.shape

(368, 14)